{% layout "layout.liquid" %}
{% block content %}


<h2>THE ESSENTIALS</h2>
<ul>
{% for seg in segovia %}

<li class="img_carousel">
    <a id="products" href="/segovia/{{seg._id}}">
 

  
 <br>
 <img class="bags" src="{{seg.img}}"/>
 <h2>{{seg.name}}</h2>
</li>

{% endfor %}
</ul>

{% endblock %}