{% layout "layout.liquid" %}
{% block content %}
<h2>Shopping Cart</h2>
<form action="/segovia/shopping_cart/{{index}}?_method=DELETE" method=post>
    <input type="submit" value="REMOVE ITEM">
    </form>

{% endblock %}